@using Microsoft.CodeAnalysis.CSharp.Syntax
@model ServerProject.Models.Grades

@{
    ViewData["Title"] = "Details";
    List<GradeCourse> list = ViewBag.Funds as List<GradeCourse>;
    List<StudentGrade> listSt = ViewBag.Stus as List<StudentGrade>;

    List<Marks> listmk = ViewBag.MK as List<Marks>;
    List<Students> st1 = ViewBag.st1 as List<Students>;
}
<style>
    #edit_bth {
        margin-right: 1%;
    }
</style>
<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Quay lại</a><b> &nbsp;@Model.Name (@Html.DisplayFor(model => model.StartTime) - @Html.DisplayFor(model => model.EndTime)) </b><a class='btn btn-default btn-xs' asp-action="Edit" asp-route-id="@Model.Id"> <span class="glyphicon glyphicon-edit"></span> Sửa</a>

            <div>
                <div class="container">
                    <div class="col-lg-12">
                        <b>Số học sinh: </b>
                        @if (@Model.StudentGrades == null)
                        {
                            <p>Không có học sinh</p>
                        }
                        else
                        {
                            @Model.StudentGrades.Count
                        }|
                        <b>Số môn học: </b>
                        @if (@Model.GradeCourses == null)
                        {
                            <b>0</b>
                        }
                        else
                        {
                            @Model.GradeCourses.Count
                        }|
                        <b>Trạng thái: </b>
                        @if (@Model.IsActive == true)
                        {
                            <label class="label label-success">Đang hoạt động</label>
                        }
                        else
                        {
                            <label class="label label-default">Không hoạt động</label>
                        }
                    </div>
                </div>

                <hr />

            </div>
            <div id="main" />
            <div class="container">
                <div class="group-tabs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" style="padding-right: 20px">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Bảng điểm</a>
                        </li>
                        <li role="presentation" style="padding-right: 20px">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Môn học</a>
                        </li>
                        <li role="presentation">
                            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Danh sách học sinh</a>
                        </li>
                    </ul>
                    <!---------------------------------------------------------------------------------------------------- Tab panes-------------------------------------------------------------------------------------------------------- -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <table class="table table-striped table-hover" id>
                                <thead>
                                    <form asp-action="Details">
                                        <div class="col-lg-12" style="margin-top: 1% ">
                                            <div class="col-lg-6 pull-left">
                                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                                    <span class="glyphicon glyphicon-plus-sign"></span> Thêm điểm
                                                </button>
                                            </div>
                                            <div class="col-lg-6 pull-right">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-10" style="margin-top: 10px">
                                                            <h5 style="text-align: left; float: left; margin-top:4px">Vui lòng chọn môn học &nbsp;</h5>
                                                            <select class="form-control " name="changeId" asp-items="ViewBag.CourseId" ; style="width: 100px"></select>
                                                        </div>

                                                        <div class="col-2"><input class="pull-right btn btn-info" id="ChangeIdc" type="submit" value="Đồng ý" /></div>
                                                    </div>
                                                </div>
                                                @*<input class="pull-right btn btn-info" id="ChangeIdc" type="submit" value="Đồng ý" />&nbsp;
                                                    <select class="form-control pull-right " style="width: 100px" name="changeId" asp-items="ViewBag.CourseId"></select>&nbsp;
                                                    <h5 class="pull-right">Môn học</h5>&nbsp;*@
                                            </div>
                                        </div>
                                    </form>
                                    <br />
                                    <br />
                                    <br />
                                    <tr>
                                        <th style="width: 15%">Mã sinh viên</th>
                                        <th style="width: 20%">Họ tên</th>
                                        <th style="width: 15%">Lí thuyết</th>
                                        <th style="width: 15%">Thực hành</th>
                                        <th style="width: 15%">Bài tâp lớn</th>
                                        <th style="width: 15%">Trạng thái</th>
                                        <th style="width: 5%"></th>
                                    </tr>

                                </thead>
                                <tbody id="disableTable" style="display: none">

                                    @foreach (var i in listSt)
                                    {

                                        bool isFail = true;
                                        bool isEmpty = true;
                                        bool isNull = false;
                                        <tr>
                                            <td>@i.Students.RollNumber</td>
                                            <td>@i.Students.Accounts.Informations.FirstName @i.Students.Accounts.Informations.MiddleName @i.Students.Accounts.Informations.LastName</td>
                                            @foreach (MarkType type in Enum.GetValues(typeof(MarkType)))
                                            {
                                                var listMark = listmk.Where(c => c.RollNumber == i.RollNumber).Where(t => t.Type == type);

                                                isEmpty = !listMark.Any();
                                                if (isEmpty)
                                                {
                                                    <td>
                                                        <p>Chưa có điểm</p>
                                                    </td>
                                                    isNull = isEmpty;
                                                }
                                                else
                                                {
                                                    foreach (var m in listMark)
                                                    {
                                                        <td style="display: none">@m.Id</td>
                                                        <td style="display: none">@m.CourseId</td>
                                                        <td>
                                                            <p>
                                                                @m.Value
                                                                @if (@m.Status == MarkStatus.PASS)
                                                                {
                                                                    <label class="label label-success">@m.Status</label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="label label-danger">@m.Status</label>
                                                                    isFail = false;
                                                                }
                                                            </p>
                                                        </td>


                                                    }
                                                }
                                            }
                                            <td>
                                                @if (isFail)
                                                {
                                                    if (isNull)
                                                    {
                                                        <label class="label label-default">NULL</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="label label-success">PASS</label>
                                                    }
                                                }
                                                else
                                                {
                                                    <label class="label label-danger">FAIL</label>
                                                }
                                            </td>

                                            <td>
                                                <button type="button" class="btn btn-primary bthEdit2" data-toggle="modal" data-target="#exampleModal">
                                                    Sửa
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <table class="table table-striped ">
                                <thead>
                                    <a asp-action="CreateGC" style="margin-top: 1.5%" class="btn btn-success pull-right" asp-route-id="@Model.Id">
                                        <span class="glyphicon glyphicon-plus-sign"></span>Thêm môn học
                                    </a>
                                    <tr>
                                        <th>Tên môn học</th>
                                        <th>Ngày bắt đầu</th>
                                        <th>Ngày kết thúc</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in list)
                                    {
                                        <tr>
                                            <td>@i.Courses.Name</td>
                                            <td>@i.StartTime</td>
                                            <td>@i.EndTime</td>
                                            <td>
                                                @*<input type="button" value="Delete" class="bthDeletec btn btn-danger" id="@i.CourseId" name="@i.GradeId" />*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <table class="table table-striped ">
                                    <thead>
                                        <br />
                                        <a asp-action="AddStudent" class="btn btn-success pull-right" asp-route-id="@Model.Id">
                                            <span class="glyphicon glyphicon-plus-sign"></span>Thêm học sinh
                                        </a>
                                        @*<button type="button" class="btn btn-success" data-toggle="modal" data-target="#NewModal">
                                                <span class="glyphicon glyphicon-plus-sign"></span> Thêm học sinh
                                            </button>*@
                                        <tr>
                                            <th>Mã sinh viên</th>
                                            <th>Họ tên</th>
                                            <th>Ngày vào học</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in listSt)
                                        {
                                            <tr>
                                                <td>@i.RollNumber</td>
                                                <td>@i.Students.Accounts.Informations.FirstName @i.Students.Accounts.Informations.MiddleName @i.Students.Accounts.Informations.LastName</td>
                                                <td>@i.JoinAt</td>
                                                <td>
                                                    <a asp-action="../Accounts/Details" class="btn btn-primary" asp-route-id="@i.Students.Accounts.Id">Chi tiết</a>
                                                    @*<input type="button" value="Delete" class="bthDelete btn btn-danger" id="@i.RollNumber" name="@i.GradeId" />*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
            <div class="modal fade " id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content ">
                        <div class="modal-header">
                            <div class="container">
                                <div class="row">

                                    <div class="col-5">
                                        <b>Kiểu điểm :</b>
                                        <select id="choseType" style="width: 180px" class="form-control ">
                                            <option value="1">Lý thuyết</option>
                                            <option value="2">Thực hành</option>
                                            <option value="3">Bài tập lớn</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <b>Môn học:</b>
                                        <select class="form-control " style="width: 180px" id="choseCo">
                                            @foreach (var classc in list)
                                            {
                                                <option value="@classc.CourseId">@classc.Courses.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>
                            </div>
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="col-lg-5 pull-right" style="margin-top: 10px">
                                    <b>Kiểu điểm :</b>
                                    <select id="choseType" style="width:200px" class="form-control ">
                                        <option value="1">Lý thuyết</option>
                                        <option value="2">Thực hành</option>
                                        <option value="3">Bài tập lớn</option>
                                    </select>
                                </div>
                                <br />
                                <div class="col-lg-5 pull-left" style="margin-top: -10px">
                                    <b>Môn học:</b>
                                    <select class="form-control " style="width: 200px" id="choseCo">
                                        @foreach (var classc in list)
                                        {
                                            <option value="@classc.CourseId">@classc.Courses.Name</option>
                                        }
                                    </select>
                                </div>*@
                        </div>
                        <div class="modal-body col-lg-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Mã sinh viên</th>
                                        <th>Họ tên</th>
                                        <th style="width: 20%">Điểm</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form>
                                        @foreach (var i in listSt)
                                        {
                                            <tr>

                                                <td>@i.Students.RollNumber </td>
                                                <td>@i.Students.Accounts.Informations.FirstName @i.Students.Accounts.Informations.MiddleName @i.Students.Accounts.Informations.LastName</td>
                                                <td>
                                                    <input title="@i.RollNumber" type="text" class="roll form-control" name="value" />
                                                </td>


                                            </tr>

                                        }
                                    </form>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button id="test" class="btn btn-success" data-dismiss="modal">Thêm điểm</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---------modal2----------->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Sửa điểm</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                <input type="hidden" id="crId" />
                                <input type="hidden" id="rollum" />
                                Điểm lí thuyết: <input type="number" id="value1" class="form-control Idm" name="Value">

                                Điểm thực hành: <input type="number" id="value2" class="form-control Idm" name="Value">

                                Điểm bài tập lớn: <input type="number" id="value3" class="form-control Idm" name="Value">

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                            <button type="button" id="bth_editMark" data-dismiss="modal" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(Document).ready(function () {
        $(".bthDelete").click(function () {
            var currentBtn = $(this);
            if (confirm("do you want to delete Student")) {
                $.ajax({
                    url: "/Grades/DelSt?RollNumber=" + currentBtn.attr("id") + "&GradeId=" + currentBtn.attr("name"),
                    type: "POST",
                    success: function () {
                        alert("1");
                        currentBtn.closest('tr').remove();
                    },
                    error: function () {
                        alert("2");
                        $(".alert-error").text("delete fail");
                    }
                });
            }
        });
        $('.bthEdit2').click(function () {
            var rl = $(this).parent().parent().find('td:eq(3)').text();
            var cr = $(this).parent().parent().find('td:eq(0)').text();
            var roll = $(this).parent().parent().find('td:eq(2)').text();
            var Id = $(this).parent().parent().find('td:eq(5)').text();
            var Al = $(this).parent().parent().find('td:eq(8)').text();


            $('#crId').val(rl);
            $('#rollum').val(cr);
            $('#value1').prop('title', roll);
            $('#value2').prop('title', Id);
            $('#value3').prop('title', Al);
        });


        var jsonObj1 = [];
        $("#bth_editMark").click(function () {
            $('.Idm').each(function () {
                var Id = $(this).attr("title");
                var Type = $(this).attr("name");
                var Value = $(this).val();
                var RollNumber = $('#rollum').val();
                var CourseId = $('#crId').val();
                
                item = {}
                item["Id"] = Id;
                item["RollNumber"] = RollNumber;
                item["CourseId"] = CourseId;
                item["Value"] = Value;
                item["Type"] = Type;
                jsonObj1.push(item);
            });

            console.log(jsonObj1);
            $.ajax({
                url: "/Grades/EditListMark",
                type: "POST",
                data: JSON.stringify(jsonObj1),
                success: function (message) {

                    console.log("Success");
                    $.notify("Sửa điểm thành công", "success");
                    setTimeout(location.reload.bind(location), 500);
                },
                error: function (message) {
                    $.notify("Sửa điểm thất bại", "error");
                }
            });
        });


        var jsonObj = [];
        $("#test").click(function () {
            $("input[name=value]").each(function () {
                var RollNumber = $(this).attr("title");
                var Value = $(this).val();
                var Type = $("#choseType").val();
                var CourseId = $("#choseCo").val();
                item = {}
                item["RollNumber"] = RollNumber;
                item["Value"] = Value;
                item["Type"] = Type;
                item["CourseId"] = CourseId;

                jsonObj.push(item);
            });

            console.log(jsonObj);
            if ($('#choseCo').val() != null) {


                $.ajax({
                    url: "/Grades/CreateListMark",
                    type: "POST",
                    data: JSON.stringify(jsonObj),
                    success: function (message) {
                        jsonObj = [];
                        console.log("Success");
                        $.notify("Thêm điểm thành công", "success");
                        setTimeout(location.reload.bind(location), 500);
                    },
                    error: function (message) {
                        $.notify("Thêm điểm thất bại", "error");
                    }
                });
            } else {
                $.notify("Chưa có môn học", "error");
            }
        });

        $(".bthDeletec").click(function () {
            var currentBtn = $(this);
            if (confirm("do you want to delete Course")) {
                $.ajax({
                    url: "/Grades/DelC?CourseId=" + currentBtn.attr("id") + "&GradeId=" + currentBtn.attr("name"),
                    type: "POST",
                    success: function () {
                        alert("Thành công");
                        currentBtn.closest('tr').remove();
                    },
                    error: function () {
                        alert("lỗi");

                    }
                });
            }
        });
        if (@listmk.Count != 0) {
            $('#disableTable').show();


        };
        $("#choseType").focusout(function () {
            var co = $('#choseType').val();
            $('.changeType').val(co);
        });

        $("#choseCo").focusout(function () {
            var co = $('#choseCo').val();
            $('.coursechange').val(co);
        });


    });

</script>
