@model ServerProject.Models.Accounts

@{
    ViewData["Title"] = "Details";
    List<StudentGrade> listSt = ViewBag.Stus as List<StudentGrade>;
    List<Marks> listmk = ViewBag.MK as List<Marks>;
}
<style>
    .card label {
        font-size: 0.8571em;
        margin-bottom: 5px;
        color: #fff;
    }
</style>

<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h5 class="title">@Model.UserName</h5>
            <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Quay lại</a>
            <a asp-action="EditInfor" asp-route-id="@Model.Id" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left pull-right"></span>Sửa thông tin</a>
            <hr />
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        @*<th></th>*@
                        <th>tên môn</th>
                        <th>loại điểm</th>
                        <th>điểm</th>
                        <th>Trạng thái</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var ma in listmk.Where(m => m.RollNumber == Model.Students.RollNumber))
                    {
                        <tr>
                            <td style="display: none">@ma.CourseId</td>
                            <td style="display: none">@ma.Id</td>
                            <td style="display: none">@ma.RollNumber</td>
                            <th>@ma.Courses.Name</th>

                            <td> @ma.Type </td>
                            <td>   @ma.Value</td>
                            <td>
                                @if (@ma.Status == MarkStatus.PASS)
                                {
                                    <label class="label label-success">@ma.Status</label>
                                }
                                else
                                {
                                    <label class="label label-danger">@ma.Status</label>

                                }
                            </td>


                            <td>
                                <button type="button" class="btn btn-primary bthEdit" id="bth_editMark" data-toggle="modal" data-target="#exampleModal">
                                    Sửa
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image">

        </div>
        <div class="card-body">
            <div class="author">
                <a href="#">
                    <img class="avatar border-gray" src="@Model.Informations.Avatar" alt="...">
                    <h5 class="title"> @Html.DisplayFor(model => model.Informations.FirstName) @Html.DisplayFor(model => model.Informations.MiddleName) @Html.DisplayFor(model => model.Informations.LastName)</h5>
                </a>


                SDT: @Html.DisplayFor(model => model.Informations.Phone)<br />



                Địa chỉ: @Html.DisplayFor(model => model.Informations.Address)<br />



                Sinh nhật: @Html.DisplayFor(model => model.Informations.Birthday)<br />



                LỚp:


                @foreach (var i in listSt.Where(s => s.RollNumber == Model.Students.RollNumber))
                {
                    if (i.RollNumber == null)
                    {
                        <h4>Null</h4>
                    }
                    else
                    {
                        <a asp-action="../Grades/Details" asp-route-id="@i.GradeId">@i.Grades.Name</a>
                    }

                }

            </div>
            <hr>
            <div class="button-container">
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                    <i class="fab fa-twitter"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                    <i class="fab fa-google-plus-g"></i>
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}