@model IEnumerable<ServerProject.Models.Accounts>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span>Thêm học sinh</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students.RollNumber)
            </th>
            <th>
                Họ và tên
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informations.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informations.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informations.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Informations.Address)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Students.RollNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations.FirstName) @Html.DisplayFor(modelItem => item.Informations.MiddleName) @Html.DisplayFor(modelItem => item.Informations.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Informations.Address)
            </td>
            <td>

                <a asp-action="EditInfor" class="btn btn-info" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Chi tiết</a>
            </td>
        </tr>
}
    </tbody>
</table>
