@model ServerProject.Models.Marks

@{
    ViewData["Title"] = "Details";
}
<div class="col-md-12">
<div class="card">
    <div class="card-body">
        <h2>Chi Tiết</h2>

        <div>
            <a asp-action="Index" class="btn btn-primary"><span class="glyphicon glyphicon-menu-left"></span> Quay lại</a>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Value)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Value)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.TypeMark)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TypeMark)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedAt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdatedAt)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Students)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Students.RollNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Courses)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Courses.Id)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>
            </dl>
        </div>
    </div>
</div>
</div>
