@*@model IEnumerable<ServerProject.Models.Marks>*@
@model ReflectionIT.Mvc.Paging.PagingList<ServerProject.Models.Marks>
@using ReflectionIT.Mvc.Paging
@addTagHelper* ,ReflectionIT.Mvc.Paging

    @{
        ViewData["Title"] = "Index";
    }
<style>
    .pagination li {
        text-align: center;
        border: solid 1px black;
        border-radius: 20%;
        background: #ffffff;
        
        margin-right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    .pagination li:hover {
        text-align: center;
        border: solid 1px white;
        border-radius: 20%;
        background: #2ca8ff;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
</style>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2>Danh sách điểm</h2>

                <p>
                    <a class="btn btn-success" asp-action="Create">Thêm điểm</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Value)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TypeMark)
                            </th>
                           
                            <th>
                                @Html.DisplayNameFor(model => model.Students)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Courses)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Value)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TypeMark)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Students.RollNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Courses.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Sửa</a>
                                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id">Chi tiết</a>
                                    <a asp-action="Delete" class="btn btn-info" asp-route-id="@item.Id">xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
                <nav aria-label="Page navigation example">
                    <vc:pager paging-list="@Model" />
                </nav>
            </div>
        </div>
    </div>